body {
    background-color:  #F9F7F7 !important;
}

a.active {
    text-decoration: underline !important;
    text-underline-offset: 8px !important;
}

.add-space-nav {
    padding-top: 72px !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #112D4E !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3F72AF !important; 
    border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #112D4E !important; 
}

.bg-indigo {
    background-color: #112D4E !important;
}

button.bg-indigo:hover {
    background-color: #0a1d32 !important;
}

.btn-lb {
    background-color: #DBE2EF !important;
}

.navbar-size {
    height: 72px !important;
}

a.text-white {
    text-decoration: none !important;
}

@media (max-width: 576px) {
    ul.bg-indigo {
        background-color: #0d2035 !important;
        margin-top: 12.8px !important;
        padding: 20px !important;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        width: 200px !important;
    }
}

.dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: auto !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: gainsboro !important;
}